---
layout: page
---
{% include lang.html %}

<div style="width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <div style="display: flex; align-items: row;">
        <div style="flex: 0 0 29%; text-align: center;">
            <img src="{{ site.baseurl }}/assets/img/profile_no_bg.png" alt="Profile Picture" style="width: 100%; height: 100%; max-width: 100%; border-radius: 15%; object-fit: cover;">
        </div>

        <div style="flex: 1; padding-left: 30px;">
            <h1 style="font-size: 28px; margin-bottom: 8px; font-weight: bold;">Jiwon Choi</h1>
            <p style="font-size: 18px; color: gray; margin-bottom: 20px; font-style: italic;">
              M.S. & Ph.D. Integrated Student in 
              <a href="https://sites.google.com/view/sparo" style="color: gray; text-decoration: underline;">SPARO Lab</a>
            </p>
            <h3 style="font-size: 20px; margin-bottom: 8px; font-weight: bold;">Research Interests</h3>
            <p style="font-size: 18px; color: gray; margin-bottom: 20px; font-style: italic;">LiDAR SLAM, Localization</p>
            <h3 style="font-size: 18px; margin-bottom: 8px;">
              <span style="font-weight: bold;">Contact:</span> 
              <a href="mailto:jivvon2@gmail.com" style="color: #0073e6; text-decoration: none;">jivvon2@gmail.com</a>
            </h3>
        </div>
    </div>
</div>



<div id="education" class="pl-xl-4">
  {% assign education_data = site.data.education %}
  <h3 style="font-size: 20px; margin-bottom: 10px; margin-top: 60px; font-weight: bold;">Education</h3>
  <ul>
    {% for item in education_data %}
      <li>
        <span class="date year" style="font-weight: bold;">
          {{ item.start_date | date: '%Y.%m' }} --
          {{ item.end_date | date: '%Y.%m' }}

        </span>
        <span class="text-muted">
          <span style="display: block;  padding-left: 10px;">
            {{ item.degree }}, {{ item.department }}, {{ item.university }}
          </span>
        </span>

      </li>
    {% endfor %}
  </ul>
</div>


<div id="publication" class="pl-xl-4">
  {% assign publication_data = site.data.publication %}
  <h3 style="font-size: 20px; margin-bottom: 10px; margin-top: 60px; font-weight: bold;">Publication</h3>
  <ul>
    {% assign sorted_publications = publication_data | sort: 'year' | reverse %}
    {% for item in sorted_publications %}
      <li>
        <span class="date year" style="font-weight: bold;">
          {{ item.year | date: '%Y.%m' }}
        </span>
        <span class="text-muted">
          <span style="display: block; padding-left: 10px;">
            [{{ item.conference }}] 
            {{ item.name }}
            {% if item.github %}
                <a href="{{ item.github }}" target="_blank" style="color: #0073e6; font-size: 0.8rem;">(Github)</a>
            {% endif %}
            {% if item.paper_link %}
                <a href="{{ item.paper_link }}" target="_blank" style="color: #0073e6; font-size: 0.8rem;">(Paper)</a>
            {% endif %}
          </span>
          <span style="display: block; padding-left: 10px; font-style: italic; font-size: 0.8rem;">
            {% assign authors = item.authors | split: ',' %}
            {% for author in authors %}
              {% if author contains 'Jiwon Choi' %}
                <span style="font-weight: bold; text-decoration: underline;">{{ author | strip }}</span>
              {% else %}
                <span>{{ author | strip }}</span>
              {% endif %}
              {% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </span>
        </span>
        
      </li>
    {% endfor %}
  </ul>
</div>





